tuple is one of the most common datatypes in python
tuple is immutable datatype ---> can be changed after creation

In [ ]:
"1- define a tuple "
t = ()
myt = tuple()

In [1]:
"tuple can hold different data from different datatypes"
myt = (34,4, "iti", 344.32, "ahmed", True, ['kubernates', 'GCP', "ansible"], "iti")
print(myt)

(34, 4, 'iti', 344.32, 'ahmed', True, ['kubernates', 'GCP', 'ansible'], 'iti')

In [2]:
""" each element is assigned to an index --> index start from 0 """
print(myt[4])
print(myt[6][2])

ahmed
ansible

In [3]:
"get len of tuple"
print(len(myt))

8

In [4]:
"count element occurence"
print(myt.count("iti"))

2

In [5]:
"""get index of element """
print(myt.index("iti"))

2

In [6]:
"""slicing the tuple"""
print(myt[3:5])   # return new tuple

(344.32, 'ahmed')

In [7]:
print(myt[::2])

(34, 'iti', 'ahmed', ['kubernates', 'GCP', 'ansible'])

In [8]:
"""tuple is immutable datatype --> cannot be changed after creation"""
"""modify existing element"""
print(myt)
myt[1] = "updated"   # 'tuple' object does not support item assignment
print(myt)

(34, 4, 'iti', 344.32, 'ahmed', True, ['kubernates', 'GCP', 'ansible'], 'iti')

TypeError: 'tuple' object does not support item assignment

In [ ]:
""" loop over the tuple """

In [9]:
for element in myt:
    print(f"element = {element}")

element = 34
element = 4
element = iti
element = 344.32
element = ahmed
element = True
element = ['kubernates', 'GCP', 'ansible']
element = iti

In [10]:
"""check element in tuple or not """
print("iti" in myt)

True

In [12]:
"""---> tuple concat"""
t1 = ("python", "mongo", "javascript", "sql")
t2= ("jenkins", "GCP", "Ansible", "Kubernates", "Docker")

In [13]:
lst_of_courses = t1  + t2
print(lst_of_courses)

('python', 'mongo', 'javascript', 'sql', 'jenkins', 'GCP', 'Ansible', 'Kubernates', 'Docker')

Casting string to a tuple.

In [14]:
name = 'noha'
name = tuple(name)
print(name)

('n', 'o', 'h', 'a')

min-max

In [15]:
print(min((3,454,23,323,12,21)))
print(max((3,454,23,323,12,21)))

3
454

for loop and index

In [ ]:
index  = 0
for item in myt:
    print(f" {item} , {myt.index(item)} : {index}")
    index +=1

enum

In [16]:
myt_enum = enumerate(myt)
print(myt_enum)

<enumerate object at 0x72a88d2c4db0>

use it with loops

In [17]:
for i , value in myt_enum:
    print(f"i={i}, item = {value}")

i=0, item = 34
i=1, item = 4
i=2, item = iti
i=3, item = 344.32
i=4, item = ahmed
i=5, item = True
i=6, item = ['kubernates', 'GCP', 'ansible']
i=7, item = iti

In [ ]:
# tuple of one item
students = ("Ahmed Nagy",)  # tuple of one item
print(students, type(students))